<div class="main">
    <div class="current-folder">
        <h1>Hello World!!!</h1>
    </div>
    <div class="children-folders">
        <a class="folder" href = "#">
            Folder
        </a>
    </div>
</div>